.word__heading {
  display: flex;
  justify-content: center;
  color: #F9CF93;
  font-weight: 700;
  margin-left: auto;
  margin-right: auto;

}
.word__list {
  padding-left: 0;
  color: #333;
  margin-left: 20px;
  margin-top: 50px;
}
.comment {
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;

}
#word__english {
  color: red;
  font-size: 25px;
}
#word__english2 {
  color: red;
  font-size: 25px;
}
#word__english3 {
  color: red;
  font-size: 25px;
}
#word__english4 {
  color: red;
  font-size: 25px;
}
#word__english5 {
  color: red;
  font-size: 25px;
}
#word__english6 {
  color: red;
  font-size: 25px;
}
#word__english7 {
  color: red;
  font-size: 25px;
}
#word__english8 {
  color: red;
  font-size: 25px;
}
#word__english9 {
  color: red;
  font-size: 25px;
}
#word__english10 {
  color: red;
  font-size: 25px;
}


#recBtn {
  display: flex;
  border: none;
  background-color: #DBD0C0;
  padding: 10px 25px;
  border-radius: 5px;
  margin-left: auto;
  margin-right: auto;
  width: 100px;
}
.word__uzbek {
    color: #79B4B7;
}